@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

#title {
  color: black;
  text-align: center;
  font-size: 4em;
}

#title,
#submitButton {
  text-align: center;

}

#dataLabel {
  text-align: center;
  font-size: 2em;
}

#dateInput {
  font-size: 25px;
}

#departmentLabel {
  text-align: center;
  font-size: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(164, 169, 170, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.areastyle {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-size: 18px;
  resize: none;
}

.submitButton {
  font-size: 2em;
  margin-left: 25em;
}